      <div class="masthead">
        <h3 class="muted">Cassidy House</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Cassidy House</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Cassidy House!</h1>
        <p class="lead">Cassidy House is a small business that produces kid's books and toys.  We are in the early stages of building an e-commerce enabled website.</p>
        <a class="btn btn-large btn-success" href="#">Try it today</a>
      </div>